.about-content-container {
	display: flex;
	margin: 0 15em;

	@media (max-width: 1023px) {
		margin: 0 1em;
		display: block;
	}

	.about-image-container {
		@media (max-width: 1023px) {
			max-width: 40vw;
			float: left;
		}

		img {
			height: 700px;
			padding-right: 2em;
			padding-top: 8em;

			@media (max-width: 1023px) {
				height: 200px;
				padding-top: 1em;
				float: left;
			}
		}
	}

	.about-content {
		text-align: left;

		@media (max-width: 1023px) {
			max-width: 100vw;

			h1 {
				display: none;
			}
		}
	}
}
