.about-content-container {
	display: flex;
	margin: 0 auto;
	width: 70vw;

	@media (max-width: 1023px) {
		display: block;
	}

	.about-image-container {
		@media (max-width: 800px) {
			max-width: 80vw;
			margin: 0 auto;
		}

		@media (min-width: 801px) and (max-width: 1023px) {
			max-width: 80vw;
			margin: 0 auto;
			float: left;
			padding: 0 2em 1em 0;
		}

		img {
			height: 400px;
			padding-right: 3em;
			padding-top: 2em;

			@media (max-width: 1023px) {
				height: 350px;
				padding-top: 1em;
				padding-right: 0;
			}
		}
	}

	.about-content {
		text-align: left;

		@media (max-width: 1023px) {
			max-width: 100vw;

			h1 {
				display: none;
			}
		}
	}
}

#family-image {
	height: 500px;
	padding-top: 3em;

	@media (max-width: 800px) {
		width: 70vw;
		height: auto;
	}

	@media (min-width: 801px) and (max-width: 1023px) {
		height: 400px;
		margin: 0 auto;
		padding: 2em 0 1em 2em;
	}
}
