.mobile-footer-section {
	border-top: 1px solid #E8E8E8;
	height: 740px;
	width: 100%;
	margin-top: 5em;
	background-color: #323131;

	@media (min-width: 1350px) {
		display: none;
	}

	@media (max-width: 801px) {
		height: 610px;
	}

	.mobile-footer-content-wrapper {
		margin: auto;
		padding-top: 40px;

		.mobile-footer-book-appointment {
			color: white;
			margin: auto;
		}

		.mobile-footer-contact-container {
			padding: 2em;

			@media (max-width: 801px) {
				padding-bottom: 1em;
			}

			a {
				text-decoration: none;
				color: white;
			}

			img {
				height: 25px;
				padding-right: 10px;
				margin-bottom: -5px;
			}
		}

		.mobile-footer-social-media-container {
			display: flex;
			justify-content: center;

			div {
				width: 25px;
				padding: 15px;
			}
		}

		.tablet-footer-sitemap-container {
			display: flex;
			color: white;
			justify-content: space-around;

			@media (max-width: 800px) {
				display: none;
			}

			h4 {
				margin-bottom: 5px;
			}

			ul {
				list-style-type: none;
				padding-top: 0;
				margin-top: 0;

				li {
					a {
						text-decoration: none;
						color: white;
						font-size: 12px;
					}

					a:hover {
						cursor: pointer;
						color: lightgray;
					}

					a:visited {
						color: lightgray;
					}
				}
			}
		}

		.mobile-footer-sitemap-container {
			width: 360px;
			margin: auto;

			@media (min-width: 801px) {
				display: none;
			}

			a {
				text-decoration: none;
				color: white;
				font-size: 12px;
			}

			span {
				color: white;
			}

			a:hover {
				cursor: pointer;
				color: lightgray;
			}

			a:visited {
				color: lightgray;
			}
		}
	}

	.mobile-footer-links {
		display: flex;
		justify-content: center;
		font-size: 13px;
		color: white;
		padding: 15px;
		margin-top: 20px;

		a {
			text-decoration: none;
			color: white;
		}

		a:hover {
			cursor: pointer;
			color: lightgray;
		}

		a:visited {
			color: lightgray;
		}
	}
}
