.snoring-apnea-content-container {
	margin: 0 auto;
	text-align: left;
	max-width: 85vw;

	h2 {
		text-align: center;
	}

	@media (max-width: 1023px) {
		margin: 0 auto;
		display: block;
	}

	.snoring-image-container {
		display: flex;
		justify-content: center;
		padding: 2em 0;
		width: 60vw;
		height: auto;
		margin: 0 auto;

		@media (max-width: 1023px) {
			max-width: 80vw;
		}

		#snoring-image {
			width: 40vw;
			height: auto;

			@media (max-width: 1023px) {
				width: 85vw;
				height: auto;
			}
		}
	}

	ul {
		padding-top: 0;
		li {
			padding-bottom: 1em;
		}
	}
}
