#hamburger-wrapper {
	position: fixed;
	display: flex;
	max-width: 100vw;
	height: 85px;
	z-index: 97;
	background-color: white;

	@media (min-width: 1250px) {
		display: none;
	}
}

#hamburger {
	width: 100vw;
	z-index: 100;
	padding-top: 2em;
}

#toggle {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: none;
}

#toggle.opening {
	display: block;
	height: 30px;
}

.ham-nav-link {
	font-family: Raleway, sans-serif;
	color: black;
	background: white;
	display: block;
	padding: .3em 4em 1.5em 75px;
	font-size: .75em;
	text-transform: uppercase;
	text-decoration: none;
}

.last {
	padding-bottom: 0;
}

.ham-add-info-link {
	padding-left: 8em;
}

.ham-nav-dropdown {
	.nav-dropdown-content {
		display: none;
		position: absolute;
		background-color: white;
		z-index: 1;
		margin-left: -25px;
		padding: 25px 0 15px 20px;
		width: 150px;
	}
}

.nav-dropdown:hover .ham-nav-dropdown {
	display: block;
}

.ham-nav-link:hover, nav a:focus {
	color: #6e6e6e;
}

.hamburger-toggle {
	position: absolute;
	padding: 0.5em 0.5em;
	top: 1.5em;
	left: 1em;
	cursor: pointer;
}

.hamburger-icon, .hamburger-icon::before, .hamburger-icon::after {
	content: '';
	display: block;
	background: rgba(187, 187, 187, 0.78);
	height: 3px;
	width: 1.75em;
	border-radius: 3px;
	-webkit-transition:all ease-in-out 350ms;
	transition:all ease-in-out 350ms;
}

.hamburger-icon::before {
	-webkit-transform: translateY(-7px);
	transform: translateY(-7px);
}

.hamburger-icon::after {
	-webkit-transform: translateY(4px);
	transform: translateY(4px);
}

.opening .hamburger-icon {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.opening .hamburger-icon::before {
	display: none;
}

.opening .hamburger-icon::after {
	-webkit-transform: translateY(-1px) rotate(-90deg);
	transform: translateY(-1px) rotate(-90deg);
}

.ham-logo-container {
	position: fixed;
	height: 70px;
	float: right;
	right: 0;
	z-index: 100;
}

.ham-logo-nav {
	float: right;
	cursor: pointer;
	z-index: 100;

	img {
		height: 160px;
		margin-top: -36px;
		margin-right: 15px;
	}
}

.additional-information-collapsible-div {
	font-family: Raleway, sans-serif;
	color: black;
	background: white;
	display: block;
	padding: .5em 4em 0 75px;
	font-size: .75em;
	text-transform: uppercase;
	text-decoration: none;
}

.additional-information-collapsible-div:hover {
	color: #6e6e6e;
	cursor: pointer;
}

ul {
	text-align: left;
	padding-top: 2em;
	line-height: 1.5;
}

#ham-collapse-ul {
	padding-top: 0;
	padding-left: 0;

	.ham-add-info-link {
		padding-bottom: 0.5em;
	}
}
