.how-content {

	.how-goals {
		text-align: left;
		margin: 0 auto;
		max-width: 50%;
	}

	ol {
		max-width: 40%;
		text-align: left;
		margin: 0 auto;
		padding-bottom: 1.5em;

		@media (max-width: 1023px) {
			max-width: 80vw;
		}
	}

	p {
		text-align: left;
		max-width: 50%;
		margin: 0 auto;
		font-size: 1.25em;

		@media (max-width: 1023px) {
			max-width: 90%;
		}
	}
}
