.contact-content-container {
	width: 85vw;
	text-align: left;
	margin: 0 auto;

	.contact-info-container {
		padding-bottom: 15px;

		p {
			margin-bottom: 2px;
		}

		a {
			text-decoration: none;
			color: black;
		}

		a:hover {
			cursor: pointer;
			color: dimgrey;
		}
	}

	.contact-button-container {
		display: flex;
		flex-direction: column;
		padding-top: 30px;
		align-items: center;

		button {
			background-color: #327979;
			border: #327979 solid 1px;
			border-radius: 15px;
			color: white;
			height: 50px;
			width: 300px;
			padding: 10px;
			margin: 10px;
		}

		button:hover {
			background-color: #3a8b8b;
			cursor: pointer;
		}
	}
}
