.location-info {
	p {
		max-width: 70%;
		margin: 0 auto;
		text-align: left;
		font-size: .8em;
	}
}

.myo-info {
	padding-top: 4em;

	p {
		max-width: 50%;
		margin: 0 auto;
		font-size: 1.25em;
	}
}
