.landing-banner-area {
	text-align: center;
	width: 100vw;
	height: 100vh;
	position: relative;

	@media (max-width: 1023px) {
		height: 40vh;
		padding-top: 50px;
	}

	.hero-image-container {
		height: 100%;

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;

			@media (max-width: 1023px) {
				object-position: 100%;
			}
		}
	}

	.video-modal-button-wrapper {
		position: absolute;
		bottom: 20px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 10;

		@media (max-width: 1023px) {
			position: relative;
			bottom: 0;
			transform: translateX(-50%);
		}
	}
}

.banner-video-container {
	width: 40%;
	padding: 5em 0 0 5em;

	@media (max-width: 1023px) {
		width: 90%;
		margin: 0 auto;
		padding: 0;
	}

	video {
		width: 100%;
		height: auto;
		min-height: 350px;
		object-fit: cover;

		@media (max-width: 1023px) {
			min-height: 0;
		}
	}
}

.home-content {
	width: 100vw;
	margin: 0 auto;

	.revomag-info {
		padding-top: 2em;

		@media (max-width: 1023px) {
			padding-top: 1em;
		}
	}
}