.adhd-and-sleep-disordered-breathing-content-container {
	margin: 0 15em;
	text-align: left;
	max-width: 90vw;

	h2 {
		text-align: center;
	}

	@media (max-width: 1023px) {
		margin: 0 1em;
		display: block;
	}

	.adhd-and-sleep-disordered-breathing-video-container {
		padding: 2em 0 1em 0;
		width: 100%;
		margin: 4em auto;
		display: flex;
		justify-content: center;

		@media (max-width: 1023px) {
			margin: 0 auto;
		}

		iframe {
			width: 700px;
			height: 394px;
			padding-right: 4em;

			@media (max-width: 1023px) {
				width: 80vw;
				height: 45vw;
				padding-right: 0;
				display: block;
				padding-bottom: 2em;
			}
		}
	}

	.adhd-and-sleep-disordered-breathing-image1-container {
		float: left;

		@media (max-width: 1023px) {
			max-width: 40vw;
			float: none;
		}

		img {
			float: left;
			height: 550px;
			padding-right: 2em;
			padding-bottom: 1em;
			padding-top: 1em;

			@media (max-width: 1023px) {
				height: 200px;
				padding-top: 1em;
				padding-right: 1em;
			}
		}
	}
}
