.resources-content-container {
	margin: 0 auto;
	text-align: left;
	width: 80vw;
	max-width: 1400px;

	h2 {
		text-align: center;
	}

	ul {
		padding-top: 0;
	}

	a:hover {
		color: dimgrey;
	}

	@media (max-width: 1023px) {
		margin: 0 auto;
		display: block;
	}
}
