.resources-content-container {
	margin: 0 auto;
	text-align: left;
	width: 80vw;
	max-width: 1400px;

	h2 {
		text-align: center;
	}

	h4 {
		margin: 0 auto;
		text-align: center;
	}

	ul {
		padding-top: 0;
	}

	ol {
		padding-top: 0;
	}

	p {
		margin: 0;
	}

	a:hover {
		color: black;
	}

	.collapsible-wrapper {
		padding-top: 3em;

		@media (max-width: 1023px) {
			padding-left: 0;
		}

		.resources-collapsible {
			justify-items: center;
		}

		.resources-collapsible-collapsible-div {
			justify-content: space-between;
			margin-top: 1em;
			padding: 5px 0;
			background: #FE6A09;
			border-radius: 5px;

			.resources-collapsible-title {
				padding-left: 5px;
				color: white;
				font-weight: 600;
			}
		}

		ul {
			width: 55%;
			min-width: 650px;
		}

		ol {
			width: 55%;
			min-width: 650px;
		}

		p {
			padding: 4px 0;
		}
	}

	@media (max-width: 1023px) {
		width: 90vw;
	}
}
