.thumb-sucking-content-container {
	margin: 0 auto;
	text-align: left;
	width: 80vw;
	max-width: 1400px;

	@media (max-width: 1023px) {
		width: 90vw;
	}

	h2 {
		text-align: center;
		padding-bottom: 1em;
	}

	h3 {
		padding-top: 1em;
	}

	.thumb-sucking-image3-container {
		display: flex;
		justify-content: center;

		@media (max-width: 800px) {
			max-width: 90vw;
			justify-content: center;
		}

		@media (min-width: 801px) and (max-width: 1023px) {
			width: 300px;
			margin: 0 auto;
		}

		img {
			height: 250px;
			padding-right: 2em;
			padding-bottom: 1em;
			padding-top: 1em;

			@media (max-width: 1023px) {
				height: auto;
				width: 80vw;
				padding-top: 1em;
				padding-right: 0;
			}
		}
	}

	.thumb-sucking-image4-container {
		display: flex;
		justify-content: center;

		@media (max-width: 1023px) {
			display: flex;
		}

		img {
			width: 30vw;
			height: auto;
			padding-bottom: 1em;
			padding-top: 1em;

			@media (max-width: 800px) {
				width: 90vw;
				height: auto;
				padding-top: 1em;
			}

			@media (min-width: 801px) and (max-width: 1023px) {
				width: 500px;
				margin: 0 auto;
			}
		}
	}

	.thumb-sucking-image5-container {
		display: flex;
		justify-content: center;

		img {
			width: 30vw;
			height: auto;
			padding-bottom: 1em;
			padding-top: 1em;

			@media (max-width: 800px) {
				height: auto;
				width: 90vw;
				padding-top: 1em;
			}

			@media (min-width: 801px) and (max-width: 1023px) {
				width: 500px;
				margin: 0 auto;
			}
		}
	}

	.thumb-sucking-image6-container {
		display: flex;
		justify-content: center;

		@media (max-width: 1023px) {
			max-width: 95vw;
		}

		img {
			height: 250px;
			padding-bottom: 1em;
			padding-top: 1em;

			@media (max-width: 800px) {
				height: auto;
				width: 90vw;
				padding-top: 1em;
			}

			@media (min-width: 801px) and (max-width: 1023px) {
				width: 700px;
				height: auto;
				margin: 0 auto;
			}
		}
	}
}
