.footer-section {
	border-top: 1px solid #E8E8E8;
	height: 325px;
	width: 100%;
	margin-top: 5em;
	background-color: #323131;

	@media (max-width: 1023px) {
		width: 100vw;
		margin-top: 3em;
		height: 500px;
	}

	.footer-content-wrapper {
		max-width: 1400px;
		display: flex;
		justify-content: space-around;
		margin: auto;
		padding-top: 40px;

		@media (max-width: 1023px) {
			flex-direction: column-reverse;
		}

		.footer-content-left {
			width: 465px;

			@media (max-width: 1023px) {
				width: 100vw;
			}

			.footer-contact-container {
				padding-top: 2em;
				text-align: left;

				@media (max-width: 1023px) {
					text-align: center;
				}

				div {
					padding: 5px;
				}

				a {
					text-decoration: none;
					color: white;
				}

				img {
					height: 25px;
					padding-right: 10px;
					margin-bottom: -5px;
				}
			}

			.footer-social-media-container {
				display: flex;
				justify-content: center;

				div {
					width: 25px;
					padding: 15px;
				}
			}
		}

		.footer-divider {
			border-right: 1px solid gray;
			width: 2px;
			height: 250px;

			@media (max-width: 1023px) {
				display: none;
			}
		}

		.footer-content-right {
			color: white;
			width: 465px;

			@media (max-width: 1023px) {
				width: 100vw;
			}

			.footer-right-links {
				display: flex;
				justify-content: center;
				font-size: 13px;

				a {
					text-decoration: none;
				}

				a:hover {
					cursor: pointer;
					color: white;
				}

				a:visited {
					color: lightgray;
				}
			}
		}
	}
}
