.button-container {
	display: flex;
	justify-content: center;

	button {
		display: inline-block;
		width: 325px;
		height: 50px;
		padding: 10px;
		margin: 10px;
		color: #fff !important;
		background: #3378A9;
		border: 0;
		border-radius: 4px;
		font-size: 16px;
		font-weight: 600;
		text-decoration: none;
	}

	button:hover {
		background-color: #185e8e;
		height: 56px;
		width: 330px;
		margin-bottom: 7px;
		margin-top: 7px;
		cursor: pointer;
	}
}
