.button-container {
	display: flex;
	justify-content: center;

	button {
		display: inline-block;
		width: 325px;
		height: 50px;
		padding: 10px;
		margin: 10px;
		color: #fff !important;
		background: #327979;
		border: 0;
		border-radius: 4px;
		font-size: 16px;
		font-weight: 600;
		text-decoration: none;
	}

	button:hover {
		background-color: #3a8b8b;
		cursor: pointer;
	}
}
