.shopify-info {
  margin-bottom: 5em;

  @media (max-width: 1023px) {
    width: 85vw;
    margin: 0 auto;
  }
}

.product-features {
  max-width: 950px;
  margin: 0 auto;

  h2 {
    justify-self: flex-start;
  }

  ul {
    padding-top: 0;

    li {
      padding-bottom: 5px;
    }
  }
}
