.shopify-info {
  margin-bottom: 5em;

  @media (max-width: 1023px) {
    width: 85vw;
    margin: 0 auto;
  }
}

.availability h2 {
  color: red;
  max-width: 70vw;
  padding-bottom: 1em;
  margin: -1em auto 0;
}
